<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="dbconfig.txt"/>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
	    <typeAlias type="pojo.web.dto.Member" alias="member"/>
	    <typeAlias type="pojo.web.dto.MemberDetail" alias="memberDetail"/>
	 	<typeAlias type="pojo.web.dto.House" alias="house"/>
	 	<typeAlias type="pojo.web.dto.RegistHouse" alias="registHouse"/>
	 	<typeAlias type="pojo.web.dto.Report" alias="report"/>
	 	<typeAlias type="pojo.web.dto.Question" alias="question"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/memberMapper.xml"/>
		<mapper resource="mapper/MemberDetailMapper.xml"/>
		<mapper resource="mapper/HouseMapper.xml"/>
		<mapper resource="mapper/RegistHouseMapper.xml"/>
		<mapper resource="mapper/ReportMapper.xml"/>
		<mapper resource="mapper/QuestionMapper.xml"/>
	</mappers>
</configuration>