<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pojo.web.dao.memberMapper">
    <select id="selectAllMember" resultMap="memBase">
        select MEM_ID, MEM_NAME, MEM_PASSWORD, MEM_PHONE, MEM_EMAIL, MEM_IMG
        MEM_GENDER, MEM_INTRO from MEMBER
    </select>
    
    <resultMap type="member" id="memBase">
		<id column="MEM_ID" property="memId" />
		<result column="MEM_NAME" property="memName" />
		<result column="MEM_PASSWORD" property="memPassword" />
		<result column="MEM_PHONE" property="memPhone" />
		<result column="MEM_EMAIL" property="memEmail" />
		<result column="MEM_GENDER" property="memGender" />
		<result column="MEM_IMG" property="memImg" />
		<result column="MEM_INTRO" property="memIntro" />
	</resultMap>
</mapper>