<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pojo.web.dao.QuestionMapper">
	<select id ="selectAllQuestion" resultMap="questBase">
	    select * from QUESTION
	</select>
	
	<select id="selectByQuestNo" parameterType="int" resultMap="questBase">
	    select * from QUESTION where QUEST_NO = #{questNo}
	</select>
	
	<insert id="insertQuestion" parameterType="question">
	    insert into QUESTION
	    values (#{questNo}, #{questTitle}, #{questContent}, #{questDate}, #{memberId}, #{detailId}, #{questReplyNo})
	</insert>
	
	<update id="updateQuestion" parameterType="question">
	    update QUESTION set
	    QUEST_TITLE=#{questTitle}, QUEST_CONTENT=#{questContent}, QUEST_DATE=sysdate
	    where QUEST_NO = #{questNo}
	</update>
	
	<delete id="deleteQuestion" parameterType="int">
	    delete QUESTION where QUEST_NO = #{questNo}
	</delete>
	
	<resultMap type="question" id="questBase">
		<id column="QUEST_NO" property="questNo"/>
		<result column="QUEST_TITLE" property="questTitle" />
		<result column="QUEST_CONTENT" property="questContent" />
		<result column="QUEST_DATE" property="questDate" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="DETAIL_ID" property="detailId" />
		<result column="QUEST_REPLY_NO" property="questReplyNo" />
	</resultMap>
</mapper>