<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pojo.web.dao.ReportMapper">

	<select id="selectAllReport" resultMap="reportBase">
		select * from REPORT
	</select>
	
	<select id="selectByReortNo" parameterType="int" resultMap="reportBase">
		select * from REPORT where REPORT_NO = #{reportNo}
	</select>
	
	<insert id="insertReport" parameterType="report">
		insert into REPORT
		values (#{reportNo}, #{reportCategory}, #{reportSubject}, #{reportContent}, #{regitDate}, #{memberId}, #{detailId})
	</insert>
	
	<update id="updateReport" parameterType="report">
		update REPORT set
		REPORT_SUBJECT=#{reportSubject}, REPORT_CONTENT=#{reportContent}, REGIT_DATE=sysdate
		where REPORT_NO = #{reportNo}
	</update>
	
	<delete id="deleteReport" parameterType="int">
		delete REPORT where REPORT_NO = #{reportNo}
	</delete>

	<resultMap type="report" id="reportBase">
		<id column="REPORT_NO" property="reportNo" />
		<result column="REPORT_CATEGORY" property="reportCategory" />
		<result column="REPORT_SUBJECT" property="reportSubject" />
		<result column="REPORT_CONTENT" property="reportContent" />
		<result column="REGIT_DATE" property="regitDate" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="DETAIL_ID" property="detailId" />
	</resultMap>
</mapper>